div {
  padding: 0;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #eaeaea;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 562.5%;
  color: #252a34;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;

}
a {
  color: #eaeaea;
}

.knv{
  margin-top: 50px;
  width: 15%;
  height: 15%;
  border-radius: 20%;
}

.top {
  background-color: #08d9d6;
  position: relative;
  padding-top: 100px;
}

.bottomcloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.topcloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.skill-row{
  width: 48rem;
  margin: 50px auto 50px auto;
  text-align: left;
}
.batman{
  width: 60px;
  float: left;
  margin-right: 30px;
}
.bike{
  width: 65px;
  float: right;
}
.dots{
    border:none;
    border-top:5px dotted #ff2e63;
    height:1px;
    width:25%;
}
.bottom-container{
  background-color: #08d9d6;
  padding: 30px;
}
.programmer{
  color: #252a34;
}
.btn{
  color: #66BFBF;
}
